@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0b0e11;
  color: #d1d4dc;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

/* سكرول بار مخفي وجميل للمتصفحات */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #161a1e;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}
